* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.code {
    font-family: courier;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px dashed #000;
    background-color: #9dd89d;
}