<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fix_width+margin</title>
    <link rel="stylesheet" href="../../reset.css">
    <style type="text/css">
        .wrap {
            height: 200px;
            background-color: green;
        }

        .content {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            background-color: orange;
        }
    </style>
</head>
<body>
    <pre class="code">
        .wrap {
            height: 200px;
            background-color: green;
        }

        .content {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            background-color: orange;
        }
    </pre>
    <div class="wrap">
        <div class="content"></div>
    </div>
</body>
</html>